 @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 * {
     margin: 0;
     padding: 0;
 }

 .main {
     background-image: url(Assets/images/background.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: max(1200px, 100vw);
     height: 70vh;
     position: relative;

 }

 body {
     background-color: black;
 }

 .main .box {
     height: 70vh;
     width: 100%;
     opacity: 0.69;
     position: absolute;
     top: 0;
     background-color: black;


 }

 nav {
     max-width: 70vw;
     height: 65px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 nav img {
     color: red;
     width: 120px;
     position: relative;
     z-index: 1;
 }

 nav button {
     position: relative;
     z-index: 1;
 }

 .hero {
     font-family: "Martel Sans", sans-serif;
     font-weight: 600;
     font-style: normal;
     height: calc(100% - 65px);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: white;
     position: relative;
     gap: 15px;
     padding: 0px 30px;

 }

 .bold {
     font-family: "Martel Sans", sans-serif;
     font-weight: 900;
     font-style: normal;
     font-size: 56px;
     text-align: center;

 }

 .hero> :nth-child(2) {
     font-weight: 500;
     font-size: 20px;
     text-align: center;

 }

 .hero> :nth-child(3) {

     font-weight: 400;
     font-size: 16px;
     text-align: center;


 }

 .sepration {
     height: 5px;
     background-color: gray;
     opacity: 0.69;
 }

 .btn {
     padding: 4px 16px 3px 16px;
     background-color: rgba(20, 19, 19, 0.158);
     border: 1px solid rgba(248, 246, 246, 0.571);
     color: white;
     border-radius: 4px;
     font-family: "Poppins", sans-serif;
     font-weight: 500;
     font-style: normal;
 }

 .btn-red-sm {
     padding: 4px 11px 3px 11px;
     background-color: red;
     color: white;
     border: 2px solid red;
     border-radius: 4px;
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;

 }

 .btn-red {

     background-color: red;
     color: white;
     border: 2px solid red;
     border-radius: 4px;
     padding: 7px 22px;
     font-size: 20px;
     font-weight: 400;
 }

 .main input {

     color: white;
     border-radius: 2px;
     padding: 16px 91px 11px 8px;
     font-size: 14px;
     background-color: rgba(23, 23, 23, 0.3);
     border: 1px solid rgba(246, 247, 247, 0.4);
     /* text-align: ; */

 }

 .first {
     display: flex;
     justify-content: center;
     max-width: 70vw;
     margin: auto;
     color: white;
     justify-content: center;
     align-items: center;

 }

 .secimg{
    position: relative;
 }

 .secimg img{
     width: 30vw;
     position: relative;
     z-index: 10;
 }

 .secimg video{
    position: absolute;
    right: 50px;
    height: 320px;
    width: 350px;

 }

 section.first > div{
    display: flex;
    flex-direction: column;
 }

 section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
 }

 section.first > div :nth-child(2){
    font-size: 24px;
 }
